extends layout

block content
  div(class="container center-x")
    div(class="row")
      div(class="ten columns offset-by-three")
        a(href="/")
          img(src="/images/logo.png", class="logo")
        #bucket
          p(class="description") A simple URL shortener.
          input#url(type="text", placeholder="Enter a URL ...", class="form-control")
          a(href="#", class="btn") Shorten
          p#result
      footer(class="footer")
        p(class="footer-text center-x") Made with care by 
          a(href="http://www.github.com/Sieniawsky", class="footer-text") @Sieniawsky
