doctype html
html
  head
    title Short and Simple
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(href="/images/favicon.ico", rel="icon", type="image/x-icon")
    link(href="http://fonts.googleapis.com/css?family=Raleway", rel="stylesheet", type="text/css")
    link(href="/css/skeleton.css", rel="stylesheet", type="text/css")
    link(href="/css/styles.css", rel="stylesheet", type="text/css")
  body
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js")
    script(src="/js/valid.js")
    script(src="/js/main.js")