doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel="stylesheet", href="/css/skeleton.css")
    link(rel="stylesheet", href="/css/styles.css")
  body
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js")
    script(src="/js/valid.js")
    script(src="/js/main.js")