/* ---------- */
/* Custom CSS */
/* ---------- */

/* General */

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
                 Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

.container {
   min-height:100%;
   position:relative;
}

.description {
  font-size: 20px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-right: 10px;
}

.center-x {
  text-align: center;
  display: block;
}

/* #bdc3c7 */
/* #0099cb */
.form-control {
  box-sizing: border-box;
  border: 2px solid #242178;
  color: #000000;
  font-size: 15px;
  width: 100%;
  line-height: 1.4;
  padding: 8px 12px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.form-control:focus {
  border-color: #cd0070;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn {
  border: none;
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 4px;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #242178;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.btn:hover,
.btn:focus {
  outline: none;
  color: #ffffff;
  color: #ffffff;
  background-color: #cd0070;
  border-color: #5dade2;
}

.btn:active,
.btn.active {
  background: #2c81ba;
  border-color: #2c81ba;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-text,
a.footer-text {
  color: #bdc3c7;
  font-size: 14px;
  text-decoration: none;
}

a.footer-text:hover {
  text-decoration: underline;
}